* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

body {
  /* padding: 25px; */
  min-height: 100vh;
  background: #242742;
  color: #36384e;
  font-family: roboto-regular;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 375px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 375px; */
  min-height: 100vh;
  padding: 15px;
  border-radius: 25px;
}
/* 
@media screen and (min-width: 700px) {
  .container {
    max-width: 928px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
  }
} */

@media screen and (min-width: 700px) {
  .container {
      flex-direction: row; /* Arrange items side by side on larger screens */
      justify-content: space-between;
      /* min-height: auto; */
  }
}

.signup {
  height: fit-content;
  /* margin-top: 15px; */
  margin-left: 35px;
  margin-right: 50px;
  font-size: 0.99rem;
  order: 1;
  /* max-width: 375px; */
  /* padding-top: 45px; */
}

/* @media screen and (min-width: 500px) {
  .signup {
    margin: 4.5rem 2.5rem;
  }
} */

@media screen and (min-width: 500px) {
  .image {
    order: 2;
    max-width: 400px;
    min-height: 70vh; /**/
  }
}

.signup h1 {
  font-size: 3.37rem;
  font-family: roboto-bold;
  margin-bottom: 45px;
} 

.signup > :not(h1) {
  line-height: 1.4rem;
}

.signup p,
.list {
  transform: translateY(-26px);
}
/* 
.image {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .image img {
  max-height: 85vh;
} */

.list {
  margin: 20px 0 30px; 
  list-style-type: none;
}

.list img {
  margin-right: 15px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chk-icon {
  max-width: 19px;
  max-height: 19px;
}

fieldset {
  border: none;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.66rem;
  font-weight: bold;
}

label,
.submit-btn {
  display: block;
  margin-bottom: 3px;
}

.error {
  color: red;
}

input {
  outline: none;
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 7px;
  padding-left: 20px;
}

.submit-btn {
  outline: none;
  width: 100%;
  height: 50px;
  background: #242742;
  color: white;
  border: none;
  border-radius: 7px;
  font-family: roboto-bold;
  font-size: 0.8rem;
}

.success-email {
  font-weight: bold;
}

.modal {
  z-index: 1;
  /* width: 36vw; */
  width: 90%;
  max-width: 450px;
  /* height: 73vh; */
  height: auto;
  max-height: 75vh;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 20px;
  color: #36384e;
  font-family: roboto-regular;
  /* animation: showr ease-in 0.10s forwards; */
}

.modal img {
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 30px;
}

.modal h1 {
  font-family: roboto-bold;
  font-size: 2.9rem;
  line-height: 3rem;
  margin-bottom: 20px;
}

.modal p {
  line-height: 1.7rem;
}

.dismiss-btn {
  width: 100%;
  margin-top: 40px;
  height: 50px;
  background: #242742;
  color: white;
  border: none;
  border-radius: 7px;
  font-family: roboto-bold;
  font-size: 0.8rem;
  outline: none;
} 

button:hover {
  background: var(--gradient-1, linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%));
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  transform: scale(1.025);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242742; 
  display: none;
}

@keyframes showr {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}